@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
    /* background-color: #f8f8f9; */
    background-color: #f3f4f6;
    font-family: 'Cairo', sans-serif;

    padding: 2rem 4rem;
}

text {
    font-style: oblique;
    font-size: 1.1rem;
}

span {
    font-family: 'Fira Code', monospace;
    color: #f8f8f9;
    border-radius: 4px;
    padding: 0.25ch 1ch;
}

.query {
    background-color: #091241;

    display: inline-block;
    padding: 10px 1ch;
}

.result {
    background-color: #02ff64;
    border: solid 1px #091241;
    color: #091241;
}

a {
    text-decoration: none !important;
    text-align: center;
    
    background-color: #000000;
    color: #f8f8f9;
    
    display: inline-block;
    margin-top: 4rem;
    padding: 0 1ch;
    border-radius: 4px;
    font-weight: 600;

    border: 1px solid transparent;

    transition: 200ms;
}

a::before {
    content: " \21A9 " " ";
    font-weight: 600;
}

a:hover {
    padding: 0 1ch;

    background-color: #f8f8f9;
    color: #000000;

    border: 1px solid #000000;

    transition: 200ms;
}